/* font-family: sans-serif;
} */
body {
  margin-top: -2%;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  position: fixed;
  z-index: 2;
  background-color: #f1ebebb8;
  top: 0;
}
nav a.brand-logo {
  display: inline-block;
  margin: 0;
}

nav ul a {
  color: #104c5b;
  margin-right: 1em;
  transition: 1s;
}

a.brand-logo {
  color: #104c5b;
  padding: 5px 5px;
  transition: 1s;
}

nav a.brand-logo:hover {
  background: #104c5b;
  background: #378881;
  color: white;
  border-radius: 15px;
  transform: rotate(45deg) translateY(20px);
}

nav li a:hover {
  background: #104c5b;
  background: #378881;
  color: white;
  border-radius: 15px;
}
nav .translateY {
  transition: 1s;
}
nav .translateY:hover {
  transform: translateY(1em);
}

.shiftDown {
  margin-top: 6em;
}

.shiftDownCart {
  margin-top: 7em;
}

.dropdown-content {
  background-color: #ffffff;
  margin: 0;
  display: none;
  min-width: 200px;
  max-height: auto;
  margin-left: -1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
  border-radius: 15px;
}

.sidenav {
  background-color: #c5caccde;
}

.sidenav li a:hover {
  background: #378881;
  color: white;
  border-radius: 15px;
}

#sidenav-overlay {
  z-index: -1;
}

form div {
  margin: 1em;
  display: inline-block;
}

hr {
  border: 1px solid transparent;
  margin: 2em 0 4em 0;
}

hr.cart {
  border: 0.5px solid gray;
}

img {
  float: left;
}

a {
  color: #1c2d38;
}

.modal {
  position: absolute;
  border-radius: 25px;
  top: 20%;
  left: 50%;
  width: 30vw;
  height: 30vh;
  background: rgba(0, 0, 0, 0);
}

.modal-main {
  position: relative;
  background: #f99cc7;
  border-radius: 25px;
  width: 30vw;
  height: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#box {
  height: 25rem;
  width: 58rem;
  background-color: #f1aba3c9;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #378881;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main {
  height: 25rem;
  width: 30rem;
  background-color: #378881;
  /* background-color: #215c57f2; */
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-52%, -50%);
  z-index: 100;
}

#login,
#signup {
  position: absolute;
  top: 50%;
  left: 73%;
  transform: translate(-48%, -50%);
  z-index: 999;
}

#login input,
#signup input {
  border-radius: 10px;
  padding: 2%;
  background: #e8f0fe;
}
#signup {
  top: 50%;
  left: 73%;
  visibility: hidden;
}

#login_btn,
#signup_btn {
  height: 50px;
  width: 180px;
  background-color: transparent;
  color: #378881;
  border: 2px solid #378881;
  border-radius: 30px;
  outline: none;
  position: absolute;
  left: 75%;
  top: 40%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

#signup_btn {
  left: 25%;
}

.displayNameBtn {
  height: 50px;
  width: 150px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  outline: none;
  transition: background-color 0.5s, color 0.5s;
  margin-left: 21%;
  margin-top: 6%;
}
.displayNameBtn:hover {
  background-color: #e8f0fe;
  color: #378881;
  cursor: pointer;
}

#login_btn:hover,
#signup_btn:hover {
  background-color: #378881;
  color: white;
  cursor: pointer;
}

#login_msg,
#signup_msg {
  font-family: arial;
  font-size: 25px;
  color: #378881;
  position: absolute;
  top: 20%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#signup_msg {
  left: 25%;
}

@media all and (max-width: 768px) {
  #box {
    height: 200px;
    width: 600px;
    background-color: #f3958bc9;
    background-color: #f1aba3c9;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #main {
    height: 23rem;
    width: 23rem;
    background-color: #378881;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  #login,
  #signup {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  #login input,
  #signup input {
    border-radius: 10px;
    padding: 2%;
    background: #e8f0fe;
  }

  #signup {
    top: 45%;
    left: 75%;
    visibility: hidden;
  }

  #login_btn,
  #signup_btn {
    height: 35px;
    width: 120px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    position: absolute;
    top: 70%;
    left: 75%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }

  #signup_btn {
    left: 25%;
  }

  .displayNameBtn {
    height: 35px;
    width: 120px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.5s, color 0.5s;
  }
  .displayNameBtn:hover {
    background-color: #e8f0fe;
    color: #378881;
    cursor: pointer;
  }

  #login_btn:hover,
  #signup_btn:hover {
    background-color: #f7f4f4;
    color: #2d2d2d;
    cursor: pointer;
  }
  #login_msg,
  #signup_msg {
    font-family: arial;
    font-size: 16px;
    color: white;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  #signup_msg {
    left: 25%;
  }
}

select {
  width: 20%;
}

#linkSocialMedia {
  margin-top: 30%;
  margin-left: 4.5em;
  width: 35%;
  display: flex;
  justify-content: space-around;
  transition: all 0.5s;
}

.icon {
  border-radius: 35px;
  border: 2px solid #c84775e6;
  background-color: transparent;
  width: 70px;
  height: 70px;
  transition: 0.5s;
}

.iconP {
  margin: 12px 0 0 0;
  text-align: center;
  color: #c84775e6;
  font-size: 25px;
  font-weight: 600;
  transition: 0.5s;
}

.icon:hover {
  background-color: #c84775e6;
  transform: scale(1.1);
  border: transparent;
}

.iconP:hover {
  color: white;
}

img.cartImg {
  max-width: 15%;
  height: auto;
  margin: -2em 12em 0 6em;
}

.productDetailsDescription p:first-child {
  margin-top: 15%;
  font-weight: 600;
}

p {
  text-align: justify;
}

.classNameproductDetailsDescription p {
  max-width: 70em;
}

.productDetailsDescriptionBtn,
.cartBtn {
  margin: 0.5em;
  border-radius: 15px;
}

.return {
  width: 11rem;
}
.qtyBtn,
.qtyBtnOne {
  height: 35px;
  width: 35px;
  border: 2px solid teal;
  border-radius: 5px;
  margin: 0.53em;
}
.qtyBtnOne {
  margin: 0.6em;
}
.deleteQtyBtn {
  height: 35px;
  width: 35px;
  border: 2px solid red;
  border-radius: 5px;
  margin-left: 0.6em;
}

.divQty {
  margin-top: 1em;
}

.subTotal {
  margin-left: 3em;
}

.card.small .card-content {
  margin-top: 15%;
}

div.card.hoverable.horizontal.small {
  border-radius: 20px;
}

img.responsive-img.productDetailImgBody {
  margin-top: -10%;
}

.slide-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.slide {
  position: absolute;
  top: -200px;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 2s;
  z-index: -1;
}

.slide.active {
  opacity: 1;
  z-index: -1;
}

button#prevBtn.btn-large,
button#nextBtn.btn-large {
  margin-top: 20%;
  background-color: #2d302fb5;
  border-radius: 5px;
}

button#prevBtn.btn-large {
  position: absolute;
}

.priceAndDelete {
  margin-top: 0;
}
